@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui" {
    themes:
        superBalck --default,
        white --prefersdark;
}

@plugin "daisyui/theme" {
    name: "superBalck";
    default: true;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(0% 0 0);
    --color-base-200: oklch(13.7% 0 33.1);
    --color-base-300: oklch(14% 0.005 285.823);
    --color-base-content: oklch(100% 0 0);
    --color-primary: oklch(57% 0.245 27.325);
    --color-primary-content: oklch(96% 0.016 293.756);
    --color-secondary: oklch(51% 0.262 276.966);
    --color-secondary-content: oklch(97% 0.014 308.299);
    --color-accent: oklch(27% 0.033 256.848);
    --color-accent-content: oklch(98% 0 0);
    --color-neutral: oklch(27% 0.006 286.033);
    --color-neutral-content: oklch(96% 0.016 293.756);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(44% 0.177 26.899);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0.5rem;
    --radius-field: 2rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "white";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(96% 0.001 286.375);
    --color-base-300: oklch(92% 0.004 286.32);
    --color-base-content: oklch(0% 0 0);
    --color-primary: oklch(57% 0.245 27.325);
    --color-primary-content: oklch(97% 0.013 17.38);
    --color-secondary: oklch(51% 0.262 276.966);
    --color-secondary-content: oklch(97% 0.014 308.299);
    --color-accent: oklch(27% 0.033 256.848);
    --color-accent-content: oklch(98% 0 0);
    --color-neutral: oklch(87% 0.006 286.286);
    --color-neutral-content: oklch(0% 0 0);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(69% 0.17 162.48);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(58% 0.253 17.585);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0.5rem;
    --radius-field: 2rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 0;
    --noise: 0;
}

@theme {
    --font-bricolage: var(--font-bricolage), sans-serif;
    --font-inter: var(--font-inter), sans-serif;
    --font-geist-sans: var(--font-geist-sans), sans-serif;
    --font-geist-mono: var(--font-geist-mono), monospace;
}

.global-px {
    @apply px-20 max-md:px-14 max-sm:px-10;
}
